*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
*::selection{
    color:white;
    background-color:black;
}
html,body{
    height: 100%;
    width: 100% ;

}
body{
    background-color: #F7F7F7;
}

#cursor {
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%)scale(0); 
}
#page11{
    min-height:100vh;
    position: relative;
    width:100%;
    padding: 0 3vw;
    padding-top: 25vh;
}

#page11 h1{
    padding: 50px;
   font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size:8vw; 
   text-transform:uppercase;
   text-align: center;
   line-height:15vh;
}
#head1 {
    padding: 50px;
    background-color: #fff;
    border-radius: 50px;
    width:100%;
    position:relative;
    display: flex;
    align-items:center;
    padding:3vw 1vw;
    justify-content:space-between;
}
h1 {
  font-weight: 400;
  font-size: 2.2vw;
}
#title2 {
  font-weight: 500;
  font-size: 3vw;
}

#video-container{
    height:100vh;
    width:100%;
    margin-top:3vw;
    position: relative;
}
#video-container video{
    border-radius: 50px;
    height:100%;
    width:100%;
    object-fit: cover;
}
#video-container #play{
    padding:3vw 2.2vw;
    background-color:black;
    color:#fff;
    font-size: 1.3vw;
    position:fixed;
    text-transform:uppercase;
    font-family:Arial, Helvetica, sans-serif;
    border-radius:50%;
    opacity:0;
    scale:0;
}
#page44{
    
        min-height:10vh;
        position: relative;
        width:100%;
        
    
}
#page44 h5{
    padding:5px 5px 5px 5px;
    text-align: center;
    font-size: 50px;
}
hr {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
  
#page22 {
    min-height:100vh;
    width:100%;
    position:relative;
    display: flex;
    align-items:center;
    padding:3vw 1vw;
    justify-content:space-between;
    
}
#page22 .elem{
    height:100%;
    width:31%;
    overflow:hidden;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:#F7F7F7;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #F7F7F7;
    background-color: rgba(0, 0, 0, 0.393);
    padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
img {
    border-radius: 50px;
}
#page22 .elem img{
    padding: 50px;
    border-radius: 50px;
    height:100%;
    width:100%;
    object-fit: cover;
    scale:1.2;
}
#page22 .elem .dets{
    #home {
  width: 100%;
}
#home #homemain {
  width: 100%;
  padding: 15vw 16vw;
}
#homemain h2 {
  font-weight: 350;
  letter-spacing: -0.1vw;
  font-size: 0.25vw;
}
.headings {
  display: flex;
  gap: 40px;
}
#homemain .headings h1 {
  color: transparent;
  -webkit-text-stroke: 1px #000;
  font-size: 5vw;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 1;
}
#homelast {
  padding: 0.5vw 15vw;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 40px;
  display: inline-block;
}
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 2px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
    height: 60px;
    border-radius: 50px;
    width:70%;
    position:absolute;
    z-index: 9;
    background-color:#fff;
    padding: 6px;

}
#page22 .elem .dets:hover{
    height: 200px;

}
#page66{
  min-height: 30vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#page33{
    min-height:120vh;
    width:100%;
    position:relative;
    background-color:#F7F7F7;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
 .child{
    height: 55vh;
    width: 38vw;
    
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.child img{
    height:100%;
    width:100%;
    position: relative;
    display: inline-block;
}
.image-text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7F7F7;
    background-color: #fff;
    padding: 5px;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  text-decoration-color: #fff;
    
}
#page55 {
    height:28vh;
    width:100%;
    
}

@media (max-width:600px){
    
    #page11 { 
        min-height:70vh;
        width:100%;
        padding:0 3vw;
        padding-top:25vh;
    }
    #page11 h1{
        font-size:15vw;
        letter-spacing: -3px;
    }
    #video-container {
        height:40vh;
        margin-top: 3vw;
    }
    #video-container #play{
        padding:5vw 3vw;
        background-color:black;
        color:#fff;
        font-size: 4vw;
        position:absolute;
        top: 50%;
        left:50%;
        text-transform:uppercase;
        font-family:Arial, Helvetica, sans-serif;
        border-radius:50%;
        opacity:1;
        scale:1;
    }
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
      }
    #page22 {
        min-height:100vh;
        width:100%;
        position:relative;
        display: flex;
        align-items:center;
        padding:5vw 3vw;
        flex-direction: column;
        justify-content:space-between;
        
    }
    #page22 .elem{
        height:95vh;
        width:100%;
        overflow:hidden;
        margin-bottom: 15vw;
        
    }
    #page22 .elem .dets{
        height:40 px;
        border-radius:50px;
        width:70%;
        position:absolute;
        z-index: 9;
        background-color:#fff;
    
    }
    #page33{
        min-height: 10vh;
        width:100%;
        position:relative;
        background-color:#F7F7F7;
        display:flex;
        align-items:center;
        
    
    }
     .child{
        height: 50vh;
        width: 90%;
        
        position:relative;
        display: flex;
        align-items: center;
        
        justify-content: space-evenly;
        flex-direction: column;
        padding-bottom: 20px;
         padding-left: 14px;
         
         padding-right: 14px;
    }
    .child img{
        height:100%;
        width:100%;
    }
}
a:link,a:visited{
    text-decoration: none;
    color: #000000;
    background-color: transparent;
}

a:active {
    color: #000000;
}

.elem {
    text-align: center;
    font-size: 30px;
    background-color: #fff;
}
#links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }