*{
<<<<<<< HEAD:Website/design.css
margin: 0;
padding: 0;
box-sizing: border-box;

}
html,body{
    height:100%;
    width:100%;
}
#main {
    background-color: aliceblue;
}
#page2 {
    padding: 10vw 5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    line-height: 2;
      
}
#page1{
    height:100vh;
    width:100%;
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#page2{
    height:100vh;
    width:100%;
    background-color:rgb(215, 228, 240);
}
#page3{
    height:100vh;
    width:100%;
    background-color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
#page4{
    height:32vh;
    width:100%;
    background-color: #FFFFFF;
=======
    margin: 0;
    padding: 0;
    box-sizing: border-box;
>>>>>>> 4851be2d35986cfbdbfe234e27eeab318fdfc5e1:design.css
    
    }
    html,body{
        height:100%;
        width:100%;
    }
    #main {
        background-color: aliceblue;
    }
    #page2 {
        padding: 10vw 5vw;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2vw;
        line-height: 2;
          
    }
     #page1{
        height:80vh;
        width:100%;
        background-color:aliceblue;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
       
     }  
    #page1 #carouselExampleIndicators{
       
        height: 80px;
    }
    #page2{
        height:100vh;
        width:100%;
        background-color:rgb(215, 228, 240);
    }
    #page3{
        height:100vh;
        width:100%;
        background-color:aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
    }
    #page4{
        height:32vh;
        width:100%;
        background-color: #FFFFFF;
        
    }
    /* #page1 img{
    height:80%;
    width:80%;
    } */
    #page3_1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size-adjust: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    display: flex;
    align-items: center;
    justify-content: center;
     flex-direction:column;
    }
    #h1_1 {
        display:relative;
        margin-bottom:10%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size-adjust: auto;
        display: flex;
        justify-content: center;
        align-items:center;
        }
    .button-27 {
            appearance: none;
            background-color: #000000;
            border: 2px solid #1A1A1A;
            border-radius: 15px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 20px;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            min-height: 60px;
            min-width: 0;
            outline: none;
            padding: 16px 24px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 100%;
            will-change: transform;
          }
          
    .button-27:disabled {
            pointer-events: none;
          }
          
    .button-27:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-2px);
          }
          
    .button-27:active {
            box-shadow: none;
            transform: translateY(0);
          }
    .button-27{
        width:30%;
        
    }
    @media (max-width: 768px) {
        .button-27 {
          width: 40%;
          font-size: 8px;
        }
      }
    
    a:link,a:visited{
        text-decoration: none;
        color: #000000;
        background-color: transparent;
    }
    
    a:active {
        color: #000000;
    }
    
    #links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }