*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
*::selection{
    color:white;
    background-color:black;
}
html,body{
    height: 100%;
    width: 100% ;

}
body{
    background-color: #F7F7F7;
}
#page33{
    min-height:120vh;
    width:100%;
    position:relative;
    background-color:#F7F7F7;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
 .child{
    height: 55vh;
    width: 38vw;
    
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.child img{
    height:100%;
    width:100%;
    position: relative;
    display: inline-block;
}
.image-text{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F7F7F7;
    background-color: rgba(0, 0, 0, 0.393);
    padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  text-decoration-color: #fff;
    
}
ul{
    list-style-type: none;
}
@media (max-width: 600px){
    #page33{
        min-height: 10vh;
        width:100%;
        position:relative;
        background-color:#F7F7F7;
        display:flex;
        align-items:center;
        
    
    }
     .child{
        height: 50vh;
        width: 90%;
        
        position:relative;
        display: flex;
        align-items: center;
        
        justify-content: space-evenly;
        flex-direction: column;
        padding-bottom: 20px;
         padding-left: 14px;
         
         padding-right: 14px;
    }
    .child img{
        height:100%;
        width:100%;
    }
}
#page4{
    height:22vh;
    width:100%;
    background-color: #FFFFFF;
    
  }
  a:link,a:visited{
    text-decoration: none;
    color: #000000;
    background-color: transparent;
  }
  
  a:active {
    color: #000000;
  }
  #links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  